@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}   

header{
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(122, 122, 122, 0.3);
    background-color: rgba(0, 0, 0, 0);
    justify-content: space-between;
}
.main-left-head{
    width: 60%;
    height: 90px;
    display: flex;
    margin-left: 5%;
    align-items: center;
    justify-content: space-between;
}
.logo-cont{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 8px;
}
.logo{
    height: 50%;
}
.logo-title > p{
    font-size: 17px;
}
.main-left-head > ul{
    width: 70%;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 40px;
}
.main-left-head > ul > li > a{
    text-decoration: none;
    font-size: 14px;
    color: rgb(26, 46, 26);
}

.main-right-head{
    width: 40%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0px;
    margin-right: 20px;
}
.main-right-head > ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 10px;
    margin-right: 15%;
}
.main-right-head > ul > li > a{
    text-decoration: none;
    margin-right: 17px;
    color: rgb(73, 99, 73);
}

#right-head-btn{
    padding: 8px 10px;
    color: black;
    border: 2px solid black;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
}


.main-hero{
    background-image: url('https://yucca.co.za/wp-content/uploads/2025/09/yucca-packaging-homepage-intro-plastic-cups-for-iced-chilled-drinks-2-1200x851.jpg');
    position:fixed;
    z-index: -1;
    top: 0px;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}